body{
    background-color: black;
    
    
}


.color{
    background-color: black;
}
.padding-text{
    color:green;
    padding-top: 130px;
}
.find-more{
   
    border-radius: 30px;
    text-decoration: none;
    background-color: white;
    padding-left: 20px;
    padding-right: 30px;
    color:green;
}

.portfolio-box-caption{
    opacity: 1;
}
.portfolio-box{
    position: relative;
  display: block;
  text-decoration: none;
  
 
}